<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
            <form action="/api/users/logout" method="post">
            <button>Logout</button>
            </form>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <h1>Create New Blog Post</h1>
    <form action="/api/blog/createpost" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="content" placeholder="Content">
        <button type="submit">Create Post</button>
    </form>
</body>