<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
            <form action="/api/users/logout" method="post">
            <button>Logout</button>
            </form>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <h1>DASHBOARD</h1>
    <form action="/createpost">
        <button type="submit">Create Post</button>
    </form>
    <h2>Your Blog Posts</h2>
    <div class="blog-post-container">
            {{#each blogs}}
            <div class="col">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <a href="/api/blog/{{{dataValues.id}}}"><h5 class="card-title">{{{dataValues.title}}}</h5></a>
                            <p class="card-text" style="font-style: italic;">{{{dataValues.description}}}</p>
                            <p class="card-text" style="font-size: smaller;">{{{dataValues.createdAt}}}</p>
                            <button class="submit">Delete</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    

</body>