<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/">LOGOUT</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <h1>DASHBOARD</h1>
</body>