<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
            <form action="/api/users/logout" method="post">
            <button>Logout</button>
            </form>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <h1>DASHBOARD</h1>
    
</body>