<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
            <form action="/login">
                <button>Login</button>
            </form>
            <form action="/signup">
                <button>Signup</button>
            </form>
        </nav>
        <div class="header-title-container">
            <h1>The Tech Blog</h1>
        </div>
        
    </header>
    <h1>HOMEPAGE</h1>
</body>