<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
        </nav>
        <div class="header-title-container">
            <h1>The Tech Blog</h1>
        </div>
        
    </header>
    <h1>HOMEPAGE</h1>
</body>