<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#">DASHBOARD</a></li>
            </ul>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <H1>LOGIN PAGE</H1>
</body>